.animation_banner {
  background-position: 0;
  animation-fill-mode: forwards;
  background: linear-gradient(to right, #56d2e5 0, white 10%, #56d2e5 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: banner 10s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  white-space: nowrap;
}
@keyframes banner {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 900px;
  }
}
/* ======= */
.animation_slogan {
  background-position: 0;
  animation-fill-mode: forwards;
  background: linear-gradient(to right, white 20%, #56d2e5 20%, white 100%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slogan 6s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  white-space: nowrap;
}
@keyframes slogan {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 450px;
  }
  100% {
    background-position: 900px;
  }
}
/* ========= */
.animation_top {
  position: relative;
  transform: translateY(-150px);
  opacity: 0;
  transition: 1s all ease;
}

.animation_top.active {
  transform: translateY(0);
  opacity: 1;
}
/* ============  */
.animation_left {
  position: relative;
  left: -150px;
  opacity: 0;
  transition: 1s all ease;
}

.animation_left.active {
  left: 0;
  opacity: 1;
}
/* ===========  */
.animation_bottom {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.animation_bottom.active {
  transform: translateY(0);
  opacity: 1;
}
/* ===========  */
.animation_right {
  position: relative;
  left: -150px;
  opacity: 0;
  transition: 1s all ease;
}

.animation_right.active {
  left: 0;
  opacity: 1;
}
.card-feature-item:hover {
  cursor: pointer;
}
