/* to left  */
@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
.slider-to-left {
  background: pr;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 233px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider-to-left::before,
.slider-to-left::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider-to-left::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.slider-to-left::before {
  left: 0;
  top: 0;
}
.slider-to-left .slide-track {
  -webkit-animation: scroll-left 40s linear infinite;
  animation: scroll-left 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
/* .slider-to-left .slide {
  height: 100px;
  width: 250px;
} */
/* ================  */

/* to right  */
@-webkit-keyframes scroll-right {
  0% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes scroll-right {
  0% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.slider-to-right {
  background: pr;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 233px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider-to-right::before,
.slider-to-right::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider-to-right::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.slider-to-right::before {
  right: 0;
  top: 0;
}
.slider-to-right .slide-track {
  -webkit-animation: scroll-right 40s linear infinite;
  animation: scroll-right 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
/* .slider-to-right .slide {
  height: 100px;
  width: 250px;
} */
