@font-face {
  font-family: "UTM Swiss 721 Black Condensed";
  src: url(/font/UTM-Swiss-721-Black-Condensed.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html,
body {
  height: 100%;
}
body {
  font-family: "Ubuntu" !important;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
}
.btn-join {
  background: rgba(17, 103, 208, 1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: white;
}
.btn-demo {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: rgba(17, 103, 208, 1);
  border: 1px solid rgba(17, 103, 208, 1);
}
.bg_banner {
  height: calc(100vh - 30px);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #d2e6ff 100%);
}
.bg_statistic {
  padding: 80px 0;
  background: linear-gradient(180deg, #d2e6ff 0%, rgba(255, 255, 255, 0) 100%);
}
.menu-desktop div {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.menu-desktop div:nth-child(4) {
  font-family: "Russo One";
  font-size: 24px;
  line-height: 29px;
  color: #2151c5;
}
.title-banner {
  font-weight: 700;
  font-size: 72px;
  line-height: 90px;
  letter-spacing: -0.02em;
  color: #131415;
}
.title-banner span {
  color: #1167d0;
}
.slogan-banner {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #3a3d40;
}
.title-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #293756;
}
.title-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #293756;
}
.bg_what-is-metatype {
  padding: 80px 0;
}
.bg_meta-feature {
  padding: 80px 0;
  background-color: #f8faff;
}
.bg_roadmap {
  background-color: #f8faff;
}
.bg_core-team {
  padding: 80px 0;
}
.card-list-statistic .card-item {
  width: 280px;
  height: 192px;
  padding: 16px;
}
.card-item {
  width: 248px;
}
.card-number {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #2151c5;
}
.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.card-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #000000;
}
.card-feature-item img {
  width: 100%;
  height: 48px;
}
.card-feature-item {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  width: 256px;
  height: 230px;
  padding: 16px;
}
.see-more {
  color: #3363d4;
}
.see-more ion-icon {
  margin-top: 2px;
}
.see-more span {
  width: 30px;
}
.card-feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}
.card-feature-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #000000;
}
.logo-item {
  width: 176px;
}
.bg_backed {
  padding: 80px 30px;
}
.bg_footer {
  padding: 30px 30px;
  background: linear-gradient(99.77deg, #6f9aff -4.15%, #0e40b6 103.9%);
}
.bg_backed {
  background-color: #f7faff;
}
.footer {
  padding: 60px 0;
}
.service-list,
.service-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.contact-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.coppy-right {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
