@media (max-width: 1170px) {
  .card-list-statistic,
  .card-feature-list {
    flex-wrap: wrap !important;
    justify-content: center;
    padding: 0 200px;
  }
  .footer .service {
    display: none;
  }
  .service-mobile {
    display: flex !important;
  }
  .bg_footer {
    padding: 45px 30px;
  }
  .footer {
    padding: 0px 0px 30px;
  }
}
@media (max-width: 900px) {
  .slick-arrow {
    display: none !important;
  }
  .title-banner {
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
  }
  .slogan-banner {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
  .bg_backed {
    padding: 80px 65px;
  }
}
@media (max-width: 975px) {
  .card-list-statistic,
  .card-feature-list {
    padding: 0 105px;
  }
}
@media (max-width: 788px) {
  .card-list-statistic,
  .card-feature-list {
    padding: 0 60px;
    justify-content: center !important;
  }
  .footer .contact {
    display: none;
  }
  .footer {
    justify-content: center !important;
  }
  .coppy-right {
    display: none;
  }
  .bg_roadmap {
    padding: 30px 30px !important;
  }
}
@media (max-width: 600px) {
  .title-description {
    padding: 0 20px;
  }
  .title-banner {
    font-size: 36px;
    line-height: 48px;
  }
  .slogan-banner {
    font-size: 16px;
    line-height: 24px;
  }
  .menu-desktop {
    gap: 24px !important;
  }
}
@media (max-width: 500px) {
  .bg_banner {
    height: calc(100vh - 150px);
  }
  hr {
    border-top: 2px solid black !important;
    opacity: 0.2;
    width: 80%;
  }
  .menu-mobile {
    height: 100vh;
    background-color: rgb(192, 177, 177);
    top: 0px;
    left: 0;
    z-index: 2;
  }
  .menu-mobile > div {
    padding: 20px;
  }
  .bg_menu-desktop {
    flex-direction: row !important;
    justify-content: space-between !important;
    padding: 20px;
  }
  .bg_menu-desktop ion-icon {
    width: 30px;
    height: 30px;
    color: black;
  }
  .logo-menu,
  .logo-menu-header {
    display: block !important;
  }
  .contact {
    display: none;
  }
  .contact-mobile {
    display: block !important;
  }
  .service-mobile > div {
    display: none;
  }
  .footer {
    justify-content: space-between !important;
    align-items: center;
  }
  .coppy-right {
    display: block !important;
  }
  .menu-desktop {
    display: none !important;
  }
  .card-list-statistic,
  .card-feature-list {
    padding: 0 30px !important;
  }
  .logo-item {
    width: 110px;
  }
  .menu-footer__mobile {
    display: flex !important;
    width: 35px;
    height: 35px;
  }
  .menu-footer__mobile ion-icon {
    color: white;
  }
  .logo_footer {
    width: 118px;
  }
}
@media (max-width: 376px) {
  .logo-list {
    justify-content: space-around;
  }
  .logo-item {
    width: 66px;
  }
}
