.ps-timeline-sec {
  position: relative;
  background: #f8faff;
}
.ps-timeline-sec .container {
  position: relative;
  max-width: 100vw;
}
@media screen and (max-width: 900px) {
  .roadmap-img {
    display: flex !important;
  }
  .ps-timeline-sec {
    display: none;
  }
  .ps-timeline-sec .container ol.ps-timeline {
    flex-direction: column;
  }
  /* .ps-timeline-sec .container ol:before {
    background: rgba(17, 103, 208, 1);
    content: "";
    width: 45px;
    height: 2px;
    position: absolute;
    top: 118px !important;
    left: 25px !important;
  } */
  /* .ps-timeline-sec .container ol:after {
    background: #348e80;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: inherit !important;
    left: 36px;
  } */
  .ps-timeline-sec .container ol.ps-timeline > li div:nth-child(2)::before {
    background: rgba(17, 103, 208, 1);
    content: "";
    width: 45px;
    height: 2px;
    left: -46px !important;
    position: absolute;
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(1)
    div:nth-child(2)::before {
    top: 60px !important;
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(2)
    div:nth-child(2)::before {
    top: 72px !important;
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(3)
    div:nth-child(2)::before {
    top: 57px !important;
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(4)
    div:nth-child(2)::before {
    top: 48px !important;
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(5)
    div:nth-child(2)::before {
    top: 36px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline {
    margin: 0 20px !important;
    border-left: 2px solid rgba(17, 103, 208, 1);
    padding-left: 0 !important;
    padding-top: 20px !important;
    border-top: 0 !important;
    transform: translate(19%, 0px);
  }
  .ps-timeline-sec .container ol.ps-timeline > li {
    height: 170px;
    float: none !important;
    width: inherit !important;
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    li:nth-child(2)
    .img-handler-bot
    img {
    width: 70px;
  }
  .ps-timeline-sec .container ol.ps-timeline > li:last-child {
    margin: 0;
    bottom: 0 !important;
    height: 120px;
  }
  .ps-timeline-sec .container ol.ps-timeline > li:last-child .img-handler-bot {
    bottom: 40px !important;
    width: 40% !important;
    margin-left: 25px !important;
    margin-top: 0 !important;
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    li:last-child
    .img-handler-bot
    img {
    width: 100%;
  }
  .ps-timeline-sec .container ol.ps-timeline > li:last-child .ps-top {
    margin-bottom: 0 !important;
    top: 20px;
    width: 50% !important;
  }
  .ps-timeline-sec .container ol.ps-timeline > li span {
    left: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline > li span.ps-sp-top:before {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline > li span.ps-sp-top:after {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline > li span.ps-sp-bot:before {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline > li span.ps-sp-bot:after {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline > li .img-handler-top {
    position: absolute !important;
    bottom: 150px !important;
    width: 30% !important;
    float: left !important;
    margin-left: 35px !important;
    margin-bottom: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline > li .img-handler-top img {
    margin: 0 auto !important;
    width: 80% !important;
  }
  .ps-timeline-sec .container ol.ps-timeline > li .img-handler-bot {
    position: absolute !important;
    bottom: 115px !important;
    width: 30% !important;
    float: left !important;
    margin-left: 35px !important;
    margin-bottom: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline > li p {
    text-align: left !important;
    width: 100% !important;
    margin: 0 auto !important;
    margin-top: 0px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline > li .ps-top {
    width: 60% !important;
    float: right !important;
    right: 0;
    top: -40px;
  }
  .ps-timeline-sec .container ol.ps-timeline > li .ps-bot {
    width: 60% !important;
    float: right !important;
    right: 0;
    top: 0;
    left: 0;
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(1)
    div:nth-child(2) {
    transform: translate(69px, -131%);
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(2)
    div:nth-child(2) {
    transform: translate(69px, -119%);
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(3)
    div:nth-child(2) {
    transform: translate(69px, -129%);
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(4)
    div:nth-child(2) {
    transform: translate(69px, -151%);
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(5)
    div:nth-child(2) {
    transform: translate(69px, -182%);
  }
}
/* .ps-timeline-sec .container ol:before {
  background: rgba(17, 103, 208, 1);
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  left: 8px;
  top: 49.5%;
}
.ps-timeline-sec .container ol:after {
  background: rgba(17, 103, 208, 1);
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  right: 8px;
  top: 49.5%;
} */
@media screen and (max-width: 768px) {
  .ps-timeline-sec .container ol.ps-timeline > li .ps-bot {
    width: 75% !important;
  }
  .ps-timeline-sec .container ol.ps-timeline {
    transform: translate(8%, 0px);
  }
}
@media screen and (max-width: 620px) {
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(3)
    div:nth-child(2) {
    transform: translate(69px, -118%);
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(3)
    div:nth-child(2)::before {
    top: 71px !important;
  }
}
@media screen and (max-width: 556px) {
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(3)
    div:nth-child(2) {
    transform: translate(69px, -117%);
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(3)
    div:nth-child(2)::before {
    top: 69px !important;
  }
}
@media screen and (max-width: 481px) {
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(3)
    div:nth-child(2) {
    transform: translate(69px, -109%);
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(3)
    div:nth-child(2)::before {
    top: 85px !important;
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(4)
    div:nth-child(2) {
    transform: translate(69px, -133%);
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(4)
    div:nth-child(2)::before {
    top: 62px !important;
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(5)
    div:nth-child(2) {
    transform: translate(69px, -150%);
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(5)
    div:nth-child(2)::before {
    top: 47px !important;
  }
}
@media screen and (max-width: 428px) {
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(4)
    div:nth-child(2) {
    transform: translate(69px, -132%);
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(4)
    div:nth-child(2)::before {
    top: 60px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline > li .ps-bot {
    width: 93% !important;
  }
  .ps-timeline-sec .container ol.ps-timeline {
    transform: translate(-8%, 0px) !important;
  }
}
@media screen and (max-width: 418px) {
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(3)
    div:nth-child(2) {
    transform: translate(69px, -109%);
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(3)
    div:nth-child(2)::before {
    top: 84px !important;
  }
}
@media screen and (max-width: 393px) {
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(2)
    div:nth-child(2) {
    transform: translate(69px, -116%);
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(2)
    div:nth-child(2)::before {
    top: 92px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline {
    transform: translate(3%, 0px) !important;
  }
}
@media screen and (max-width: 384px) {
  .ps-timeline-sec .container ol.ps-timeline > li {
    height: 190px;
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(1)
    div:nth-child(2)::before {
    top: 73px !important;
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(1)
    div:nth-child(2) {
    transform: translate(69px, -119%);
  }
}
@media screen and (max-width: 375px) {
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(3)
    div:nth-child(2)::before {
    top: 95px !important;
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    > li:nth-child(3)
    div:nth-child(2) {
    transform: translate(69px, -101%);
  }
}
.bg_roadmap ion-icon {
  width: 60% !important;
  height: 60% !important;
}
.ps-timeline-sec .container ol.ps-timeline {
  margin: 160px 0;
  padding: 0;
  border-top: 2px solid rgba(17, 103, 208, 1);
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.ps-timeline-sec .container ol.ps-timeline > li {
  float: left;
  width: 19%;
  padding-top: 30px;
  position: relative;
}
.ps-timeline-sec .container ol.ps-timeline > li span {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  background: #fff;
  border: 2px solid rgba(17, 103, 208, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 0px #fff;
  text-align: center;
  line-height: 50px -10;
  color: #df8625;
  font-size: 2em;
  font-style: normal;
  position: absolute;
  top: -26px;
  left: 50%;
}
.ps-timeline-sec .container ol.ps-timeline > li span.ps-sp-top:before {
  content: "";
  color: rgba(17, 103, 208, 1);
  width: 2px;
  height: 106px;
  background: rgba(17, 103, 208, 1);
  position: absolute;
  top: 48px;
  left: 50%;
}
.ps-timeline-sec .container ol.ps-timeline > li span.ps-sp-top:after {
  content: "Q2/2022";
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: 90px;
  left: -47%;
  border-radius: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #131415;
}
.ps-timeline-sec .container ol.ps-timeline > li span.ps-sp-bot:before {
  content: "";
  color: rgba(17, 103, 208, 1);
  width: 2px;
  height: 50px;
  background: rgba(17, 103, 208, 1);
  position: absolute;
  bottom: -50px;
  left: 50%;
}
.ps-timeline-sec .container ol.ps-timeline > li span.ps-sp-bot:after {
  content: "";
  color: rgba(17, 103, 208, 1);
  width: 8px;
  height: 8px;
  background: rgba(17, 103, 208, 1);
  position: absolute;
  top: 90px;
  left: 44%;
  border-radius: 100%;
}
.ps-timeline-sec .container ol.ps-timeline > li .img-handler-top {
  position: absolute;
  bottom: 0;
  margin-bottom: 130px;
  width: 100%;
}
.ps-timeline-sec .container ol.ps-timeline > li .img-handler-top img {
  display: table;
  margin: 0 auto;
}
.ps-timeline-sec .container ol.ps-timeline > li .img-handler-bot {
  position: absolute;
  margin-top: 60px;
  width: 100%;
}
.ps-timeline-sec .container ol.ps-timeline > li .img-handler-bot img {
  display: table;
  margin: 0 auto;
}
.ps-timeline-sec .container ol.ps-timeline > li p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.ps-timeline-sec .container ol.ps-timeline > li .ps-top {
  position: absolute;
  bottom: 0;
  margin-bottom: 100px;
}
.ps-timeline-sec .container ol.ps-timeline > li .ps-bot {
  position: absolute;
  margin-top: 99px;
  border: 2px solid #4547e8;
  box-sizing: border-box;
  border-radius: 16px;
  width: 100%;
}
