.image-slider {
  padding-bottom: 50px;
}
/* .image {
  height: 284px;
  width: 200px;
} */
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.image-title {
  font-size: 20px;
  color: #8e8fb5;
}
.slick-initialized .slick-slide {
  margin: 0 10px;
}
.slick-slider {
  margin: auto;
  max-width: 1192px;
}
.slick-arrow {
  position: absolute;
  top: 33%;
  transform: translateY(-50%);
  border: none;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  transition: all 0.2s linear;
}
/* .slick-arrow:hover {
  color: rgb(6, 110, 236);
} */
.slick-prev {
  left: -44px;
}
ion-icon {
  width: 100%;
  height: 100%;
  color: rgba(17, 103, 208, 1);
}
.slick-next {
  right: -44px;
}
.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
}
.slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 100rem;
  background-color: #bfc2c5;
  border: transparent;
  outline: none;
  transition: all 0.2s linear;
}
.slick-dots .slick-active button {
  background-color: #1e7aeb;
  border-radius: 40px;
  width: 32px;
}
